{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="data:,">
    <title>Data batch</title>	
	{% include 'utilities-css.html' %}	
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
	{% include 'utilities-Sidebar.html' %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
			{% include 'utilities-Topbar.html' %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h3>Gene Zip上傳 <span class="badge badge-secondary">Gene Upload</span>{{ FuncResult }}</h3>						
					</div>					
					<form method="post" action="{% url 'UpGeneZip' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<div class="form-row">
							<div class="form-group col-md-1">
								<label><h5>檔案說明</h5></label>
							</div>
							<div class="form-group col-md-2">
								<input type="text" class="form-control" name="fileTitle" placeholder="Enter a title">
							</div>
							<div class="form-group col-md-1">
								<label><h5>檔案選擇</h5></label>
							</div>
							<div class="form-group col-md-3">								
								<input class="form-control" type="file" name="uploadedFile" accept=".zip">
							</div>
							<div class="form-group col-md-1">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>	
						</div>
					</div>
					</form>
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Gene Zip</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<td>id</td>			
											<th>fileTitle</th>
											<th>uploadedFile</th>
											<th>dateTimeOfUpload</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
											<td>id</td>			
											<th>fileTitle</th>
											<th>uploadedFile</th>
											<th>dateTimeOfUpload</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
										{% for Gene in Genezip %}
										<tr>
											<td>{{ Gene.id}}</td>										
											<td>{{ Gene.fileTitle}}</td>
											<td>{{ Gene.uploadedFile}}</td>
											<td>{{ Gene.dateTimeOfUpload}}</td>
										</tr>
										{% endfor %}										 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>				
					{{data.diagnostics}}
				</div>
			</div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2022 WiAdvance Technology Co. All Rights Reserved.</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
			<!-- /.container-fluid -->
		</div>
		<!-- End of Main Content -->
		
	</div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
{% include 'utilities-js.html' %}
</body>

</html>