               <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="nav bar-nav ml-auto">
						<!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-question-circle fa-lg"></i>
                                <!-- Counter - Alerts <span class="badge badge-danger badge-counter">3+</span> -->                                
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h1 class="dropdown-header">
                                    Technical Support
                                </h1>
                                <a class="dropdown-item d-flex align-items-center" href="mailto:gojim.yu@wiadvance.com?subject=台北榮民總醫院基因定序醫學資訊平台技術支援">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-envelope text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-weight-bold">電子郵件</div>
                                        <span class="text-gray-600">gojim.yu@wiadvance.com</span>
										<div class="font-weight-bold">服務電話</div>
                                        <span class="text-gray-600">02-66414711</span>
										<div class="font-weight-bold">分機</div>
                                        <span class="text-gray-600">14711</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="https://teams.microsoft.com/l/chat/0/0?users=gojim.yu@wiadvance.com" target="_blank">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-comments text-white"></i>
                                        </div>
                                    </div>
                                    <div>
										<div class="font-weight-bold">Teams</div>
                                        <span class="text-gray-600">gojim.yu@wiadvance.com</span>
										<div class="font-weight-bold">服務部門</div>
                                        <span class="text-gray-600">T02300</span>
                                    </div>
                                </a>
                        </li>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if user.is_authenticated %}
                                <span class="mr-2 d-none d-lg-inline text-gray-600">{{ user.get_username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
								{% else %}
								<span class="mr-2 d-none d-lg-inline text-gray-600">{{ user.get_username }}</span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/notlog.svg">
								{% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
								{% if user.is_authenticated %}
								<a class="dropdown-item" href="{% url 'admin:index' %}">
                                    <i class="fas fa-user fa-lg text-gray-400"></i>
                                    Admin Settings
                                </a>
                                <a class="dropdown-item" href="/static/doc/軟體使用手冊.docx">
                                    <i class="fas fa-book fa-lg text-gray-400"></i>
                                    平台使用說明
                                </a> 
                                <a class="dropdown-item" href="/static/doc/軟體使用手冊.docx">
                                    <i class="fas fa-book fa-lg text-gray-400"></i>
                                    權限設定說明
                                </a>  
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-lg text-gray-400"></i>
                                    Logout
                                </a>
								{% else %}
								<a class="dropdown-item" href="{% url 'login' %}">
                                    <i class="fas fa-sign-out-alt fa-lg text-gray-400"></i>
                                    Login
                                </a>
								{% endif %}
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->